html, body {
  margin: 20px;
  padding: 0;
}

canvas {
  display: block;
}

.controls {
    border-radius: 1px;
    border-style: solid;
    border-collapse: collapse;
}

tr, td {
    border-radius: inherit;
    border-color: black;
    border-collapse: inherit;
}
